<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qin.apps.cms.dao.extend.RoleExtendMapper">
  <select id="findRoletByUserId" resultType="com.qin.apps.cms.bean.Role">
    SELECT r.*
    FROM base_role r, base_user_role ur
    WHERE r.id = ur.role_id
    AND ur.user_id = #{id,jdbcType=BIGINT}
  </select>

  <select id="findAllRoleExtend" resultMap="RoleExtendResultMap">
    SELECT *
    FROM base_role
  </select>

  <resultMap id="RoleExtendResultMap" type="com.qin.apps.cms.bean.extend.RoleExtend" extends="com.qin.apps.cms.dao.RoleMapper.BaseResultMap">
    <collection property="privileges" column="id" select="com.qin.apps.cms.dao.extend.PrivilegeExtendMapper.findPrivilegeByRoleId"></collection>
  </resultMap>
</mapper>